{% extends "main/base.html" %}

{% block title %}Как купить — Hydro-Point{% endblock %}
{% load static %}
{% block content %}

<h1 style="font-size: 48px;">Как оформить заказ?</h1>
<ol style="margin-left: 48px; font-size: 24px;">
    <li>Добавить в корзину нужные товары, скопировать ссылку на корзину.</li>
    <li>Написать в <a href="https://t.me/jnrh770" target="_blank">телеграмм</a> или по номеру <a href="tel:+79175888990">+7(917)-588-89-90</a>
        <a target="_blank" href="https://t.me/jnrh770" style="font-size: 24px; align-content: center; vertical-align: center; display: flex;"><img src="/media/telegram.svg" alt="Телеграм" style="height: 36px; margin-right: 8px;"> - написать в телеграмм</a>
    </li>
</ol>

{% endblock %}
